/* Estilos CSS personalizados */
.navbar-custom {
    background-color: #FFD581; /* Color de fondo del navbar */
}

.footer-custom {
    background-color: #f8f9fa; /* Color de fondo del footer */
    color: #6c757d; /* Color del texto del footer */
}

/* Estilo personalizado para el menú activo */
.nav-link.active {
    background-color: #FB5D97; /*Color del fondo del item del menú seleccionado*/
    border-radius: 20px;
}