<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/consejosStyle.css">
  </head>
  <body>
    <h1 class="title text-center mb-3">Consejos</h1>

    <!-- Primera fila de cards -->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">Fomenta el amor y el respeto</div>
            <div class="card-body">
              <p class="card-text">
                Enseña a los hermanos mayores la importancia de amar y respetar
                a sus hermanos menores. Ayúdales a comprender que son modelos a
                seguir y que su comportamiento influye en el desarrollo
                emocional de sus hermanos más jóvenes.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">Promueve la paciencia y la empatía</div>
            <div class="card-body">
              <p class="card-text">
                Ser hermano mayor puede ser desafiante, especialmente cuando los
                más pequeños son traviesos o necesitan atención constante. Anima
                a los hermanos mayores a practicar la paciencia y a ponerse en
                el lugar de sus hermanos menores para entender sus necesidades y
                emociones.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">
              Enseña habilidades de cuidado y responsabilidad
            </div>
            <div class="card-body">
              <p class="card-text">
                Capacita a los hermanos mayores en tareas de cuidado, como
                cambiar pañales, preparar biberones o ayudar con la tarea
                escolar. Esto les ayudará a desarrollar habilidades de
                responsabilidad y a fortalecer el vínculo con sus hermanos
                menores.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda fila de cards -->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">
              Apoya la comunicación abierta y el entendimiento
            </div>
            <div class="card-body">
              <p class="card-text">
                Promueve un ambiente donde los hermanos mayores se sientan
                cómodos expresando sus preocupaciones, miedos o frustraciones.
                Enséñales a comunicarse de manera respetuosa y a resolver
                conflictos de manera pacífica.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">Fomenta el juego y la diversión</div>
            <div class="card-body">
              <p class="card-text">
                Anima a los hermanos mayores a pasar tiempo de calidad con sus
                hermanos menores a través del juego y la diversión. Esto no solo
                fortalecerá su relación, sino que también les permitirá crear
                recuerdos duraderos juntos.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">Estrategias de Adaptación y Manejo del Estrés</div>
            <div class="card-body">
              <p class="card-text">Ser cuidador sustituto puede ser emocionalmente demandante. Es crucial que cuenten con estrategias para el manejo del estrés, como técnicas de respiración, tiempos de descanso planificados y actividades que promuevan su bienestar mental y emocional.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Tercera fila de cards -->
    <div class="container text-center mb-5">
      <div class="row">
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">
              Importancia de la Flexibilidad y Adaptación
            </div>
            <div class="card-body">
              <p class="card-text">
                La versatilidad es fundamental en un cuidador sustituto. La capacidad de adaptarse a cambios inesperados en las rutinas o a las necesidades cambiantes de la persona a su cuidado permite ofrecer un servicio de mayor calidad y mejor adaptado.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">Integración y Colaboración con la Familia</div>
            <div class="card-body">
              <p class="card-text">
                La relación entre el cuidador sustituto y la familia es fundamental para el éxito del cuidado. Mantener una comunicación clara y periódica sobre el estado de la persona cuidada y adaptar las rutinas de acuerdo con las necesidades y expectativas de la familia son elementos clave.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white mb-3">
            <div class="card-header bg-transparent">Derechos y Responsabilidades</div>
            <div class="card-body">
              <p class="card-text">Los cuidadores sustitutos deben estar informados de los derechos y las responsabilidades que implica su rol. Esto abarca desde el respeto a la privacidad y dignidad de la persona cuidada hasta la adecuada comunicación con la familia o los cuidadores principales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>