<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/legalizacion.css">
        <title>Legalización</title>
    </head>
    <body>
        <h1 class="title text-center mb-3">Legalización</h1>
        <div class="list-group">
        <a href="https://www.icbf.gov.co/system/files/ley_1878_del_09_de_enero_de_2018.pdf" target="_blank">
                <button type="button" class="group list-group-item list-group-item-action">ICBF – Ley 1878 de 2018</button>
        </a>
        <a href="https://www.defensoria.gov.co/o/ninos-y-ninas-theme/html/Normatividad%20ninez%20-%20Digital.pdf" target="_blank">
            <button type="button" class="list-group-item list-group-item-action">Defensoría del Pueblo</button>
        </a>
        <a href="https://www.icbf.gov.co/sites/default/files/codigoinfancialey1098.pdf" target="_blank">
            <button type="button" class="list-group-item list-group-item-action">Código de infancia y adolescencia Ley 1098 de 2006</button>
        </a>
          </div>

          <div class="content bg-white mt-5">
              <p>

                  El tema legal de los derechos de niños y adolescentes se aborda de manera detallada en el desarrollo de esta investigación, pues se considera el marco legal del tema como una forma de comprender el avance y reconocimiento que a nivel institucional tiene la crianza y derecho de los niños. Por ello en este apartado se hace referencia solo a la normatividad legal que enmarca el proceso de comunicación con la realización y divulgación del blog digital. El artículo 20 de la Constitución de 1991 contempla el derecho a la comunicación y la expresión libre: “Se garantiza a toda persona la libertad de expresar y difundir su pensamiento y opiniones, la de informar y recibir información veraz e imparcial, y la de fundar medios de comunicación masiva.” Así mismo, la constitución hace alusión a la libertad de prensa y a la censura en la divulgación de contenidos a través de los diversos medios de comunicación: “Estos son libres y tienen responsabilidad social. Se garantiza el derecho a la rectificación en condiciones de equidad. No habrá censura.” (Constitución Política de Colombia, 1991, pág. 3)
                    
              </p>
          </div>
    </body>
</html>