<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/preguntasStyle.css">
    </head>
    <body>
        <h1 class="title text-center mb-3">Preguntas frecuentes</h1>

        <div class="container">
            <div class="faq-section">
                <div class="faq-header">
                    <h2 class="faq-title">¿Alguna duda en especifico?</h2>
                    <h2 class="faq-title">¡Contactanos! "creciendo-juntos.help@gmail.com"</h2>
                </div>
                <div id="accordion">

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Cómo puedo ser un buen modelo a seguir para mis hermanos menores?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Demostrar comportamientos positivos como la responsabilidad, el respeto y la empatía. Ser consciente de que los hermanos menores pueden estar observando y siguiendo nuestro ejemplo, por lo que es importante actuar de manera que queramos que imiten.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Cuál es la mejor manera de ayudar a mis hermanos menores cuando necesiten apoyo o consejo?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Estar siempre disponible para escuchar sus preocupaciones y brindarles orientación de manera amorosa y sin juzgar. También es importante reconocer y respetar su autonomía, permitiéndoles resolver problemas por sí mismos cuando sea posible, pero estando ahí para apoyarlos si lo necesitan.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cómo puedo comunicarme de manera efectiva con mis hermanos menores para resolver conflictos o malentendidos?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Practicar la escucha activa, tratando de entender su perspectiva antes de responder. Resolver los conflictos de manera calmada y constructiva, evitando el tono acusatorio o la confrontación.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    ¿Qué puedo hacer para mostrar empatía y comprensión hacia las experiencias y preocupaciones de mis hermanos menores?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Reconocer y validar los sentimientos de los hermanos menores, incluso si no estamos de acuerdo con ellos. Brindar consuelo y apoyo en momentos difíciles, demostrando que estamos ahí para ellos incondicionalmente.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>